body {
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 30px;
  color: blue;
  opacity: 0.9;
}
h3 {
  font-size: 18px;
  color: blue;
  font-style: normal;
  opacity: 0.8;
}
h4 {
  font-size: 18px;
  color: blue;
  font-style: normal;
}
p {
  font-size: 16px;
  color: blue;
}
.blo {
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  grid-gap: 8px;
}
.blo1 {
  height: 130px;
  background-color: rgb(145, 153, 153);
  color: rgb(230, 216, 241);
  opacity: 0.85;
  font-size: 1.75em;
  text-align: center;
  font-family: monospace;
  padding: 12px 0;
}
.card {
  width: 80%px;
  height: 400px;
  background-color: rgb(167, 165, 161);
  opacity: 0.6;

  margin: 10px;
  padding: 10px;
}
.foot {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 6px;
}
.section {
  background-color: rgb(145, 153, 153);
  opacity: 0.8;
  height: 150px;
  text-align: center;
  font-size: 1.2em;
  padding: 20px 0;
}
