body {
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 30px;
  color: blue;
}
h3 {
  font-size: 18px;
  color: blue;
  font-style: normal;
}
h4 {
  font-size: 18px;
  color: blue;
  font-style: normal;
}
p {
  font-size: 16px;
  color: blue;
}
.blo {
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  grid-gap: 8px;
}
.blo1 {
  height: 130px;
  background-color: rgb(154, 237, 237);
  color: white;
  font-size: 1.75em;
  text-align: center;
  font-family: monospace;
  padding: 12px 0;
}
.card {
  width: 300px;
  height: 200px;
  background-color: lightgreen;
  border: 2px solid rgb(103, 98, 98);
  margin: 10px;
  padding: 10px;
}
.foot {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 6px;
}
